In [15]:
#BASIC IMPORT
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

In [2]:
df=pd.read_csv('data/Stud.csv')

In [3]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
X = df.drop(columns=['math score'],axis=1)

In [6]:
X.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [7]:
y=df['math score']

In [8]:
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

In [9]:
#create column transformer as 3 columns are categorical
num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [

        ("oneHotEncoder", oh_transformer, cat_features),
        ("StandardScaler", numeric_transformer, num_features)
    ]
)

In [10]:
X = preprocessor.fit_transform(X)

In [11]:
X.shape

(1000, 19)

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.shape, X_test.shape

((800, 19), (200, 19))

In [13]:
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    mse = mean_squared_error(true,predicted)
    rmse = np.sqrt(mean_squared_error(true,predicted))
    r2_square = r2_score(true,predicted)
    return mae,mse,rmse,r2_square

In [18]:
models ={
    "LinearRegression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "KNeighborsRegressor": KNeighborsRegressor(),
    "DecisionTreeRegressor": DecisionTreeRegressor(),
    "RandomForestRegressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(),
    "CatBoostRegressor": CatBoostRegressor(verbose=False),
    "AdaBoostRegressor": AdaBoostRegressor(),
    "SVR": SVR()
}
model_list = []
r2_list = []
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)  #Training the model

    #make prediction
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    #evaluate train and test dataset
    model_train_mae, model_train_mse, model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)
    model_test_mae, model_test_mse, model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model performance on training set')
    print("--Root Mean Squared Error:{:.4f}".format(model_train_rmse))
    print("--R2 Score:{:.4f}".format(model_train_r2))
    print('--------------------------------------------')

    print('Model performance on test set')
    print("--Root Mean Squared Error:{:.4f}".format(model_test_rmse))
    print("--R2 Score:{:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)

    print('='*35)
    print('\n')

LinearRegression
Model performance on training set
--Root Mean Squared Error:5.3231
--R2 Score:0.8743
--------------------------------------------
Model performance on test set
--Root Mean Squared Error:5.3940
--R2 Score:0.8804
===================================


Lasso
Model performance on training set
--Root Mean Squared Error:6.5938
--R2 Score:0.8071
--------------------------------------------
Model performance on test set
--Root Mean Squared Error:6.5197
--R2 Score:0.8253
===================================


Ridge
Model performance on training set
--Root Mean Squared Error:5.3233
--R2 Score:0.8743
--------------------------------------------
Model performance on test set
--Root Mean Squared Error:5.3904
--R2 Score:0.8806
===================================


KNeighborsRegressor
Model performance on training set
--Root Mean Squared Error:5.7079
--R2 Score:0.8555
--------------------------------------------
Model performance on test set
--Root Mean Squared Error:7.2530
--R2 Score:0.7838
===================================


DecisionTreeRegressor
Model performance on training set
--Root Mean Squared Error:0.2795
--R2 Score:0.9997
--------------------------------------------
Model performance on test set
--Root Mean Squared Error:7.9063
--R2 Score:0.7431
===================================


RandomForestRegressor
Model performance on training set
--Root Mean Squared Error:2.2921
--R2 Score:0.9767
--------------------------------------------
Model performance on test set
--Root Mean Squared Error:5.9668
--R2 Score:0.8537
===================================


XGBRegressor
Model performance on training set
--Root Mean Squared Error:1.0073
--R2 Score:0.9955
--------------------------------------------
Model performance on test set
--Root Mean Squared Error:6.4733
--R2 Score:0.8278
===================================


CatBoostRegressor
Model performance on training set
--Root Mean Squared Error:3.0427
--R2 Score:0.9589
--------------------------------------------
Model performance on test set
--Root Mean Squared Error:6.0086
--R2 Score:0.8516
===================================


AdaBoostRegressor
Model performance on training set
--Root Mean Squared Error:5.8681
--R2 Score:0.8473
--------------------------------------------
Model performance on test set
--Root Mean Squared Error:6.0744
--R2 Score:0.8484
===================================


SVR
Model performance on training set
--Root Mean Squared Error:6.5770
--R2 Score:0.8081
--------------------------------------------
Model performance on test set
--Root Mean Squared Error:8.1266
--R2 Score:0.7286
===================================